.arrow::after {
  content: '';
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.menu {
  position: relative;
  font-size: 14px;
}

.menu a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.menu > a,
.menu button {
  text-align: left;
  padding: 0.7rem 1rem;
}
